@using Microsoft.AspNet.Identity
@using OSL.Forum.Web.Extensions

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home", new {Area = "" })">OSL Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            </ul>


            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new {Area = "" })">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category", new {Area = "Dashboard" })">Dashboard</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Me", "Profile", new {Area = "" })">@User.Identity.GetFullName()</a>
                    </li>
                    <!--<li>-->@*<a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@<!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LogOff", "Account", new {Area = "" })">Sign Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account", new {Area = "" })">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account", new {Area = "" })">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>