@using Microsoft.AspNet.Identity


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">OSL Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            </ul>


            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">@User.Identity.GetUserName()</a>
                    </li>
                    <!--<li>-->@*<a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@<!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LogOff", "Account")">Sign Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account")">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>