@model OSL.Forum.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="d-flex justify-content-center">
    <div class="col-lg-5 col-md-7 col-12 col-sm-9">
        <div class="card border-primary mt-2" style="max-width: 30rem;">
            <div class="card-body">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Reset your password</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.userId)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div class="">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        <div class="">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reset" class="btn btn-primary" />
                        </div>
                    </div>
                    <br />
                    <p>
                        Already have an account?
                        <a class="text-primary" style="text-decoration:none;" href="@Url.Action("Login", "Account")">Sign In</a>
                    </p>
                    <p>
                        Don't have an account?
                        <a class="text-primary" style="text-decoration:none;" href="@Url.Action("Register", "Account")">Sign up</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
